@import "materialize";
 h1{
  font-size:3em;
 }
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .btn-devise{
    width: 100%;
  }
  .show-prezzo{
    font-size:2em;
  }
  .show-titolo{
   margin-top:0;
   font-size:3.4em;
  }
  .show-img{
    padding-right:5%;
  }
  .btn-form{
    width:100%;
  }
  